@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

body {
  margin: 0px;
  padding: 0px;
  background-image: radial-gradient(#c7c7c7 25%; #c7c7c7 75%);
  font-family: "Josefin Sans", sans-serif;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.clearfix {
  clear: both;

}

.header {
  height: 1440px;
  width: 800px;
  background-color: white;
  margin: 20px auto;
}

.top {
  background-color: rgb(27, 13, 23);
  text-align: center;
  padding: 20px;
}

.img {
  width: 300px;
  height: auto;
  border-radius: 50%;
}

.h1 {
  color: rgb(248, 183, 243);
  margin: 0px;
  margin-top: 30px;
}

.h3 {
  color: coral;
  font-weight: 400;
  margin: 0px;
  margin-top: 15px;
}

.nav-list{
  margin-top: 20px;
  margin-bottom: 0px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
}

.nav-link{
  padding: 0 20px;
  line-height: 50px;
  color: aqua;
  text-decoration: none;
  transition: color 0.5s;
  font-size: large;
  font-weight: 400;
}

.nav-link:hover{
  color: coral;
}

.nav-link{
  transition: 0.3s;
}

.main {
  background-color: #c7c7c7;
  text-align: left;
  width: 30%%;
  float: center;
  display: flex;
  flex-wrap: wrap;
}

.rs {
  width: 100px;
  height: auto;
}

.footer {
  text-align: center;
  background-color: rgb(248, 183, 243);
  height: 100px;
  width: 800px;
  margin-top: 0px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

h2 {
  font-size: 20px;
  font-weight: 600;
  color: rgb(2, 90, 90);
  font-weight: 800;

}

.info{
  margin: 30px;
  display: flex;
  flex-direction: column;
}

.summary {
  background-color: rgb(215, 237, 237);
  padding: 10px;
}

.code {
  background-color: rgb(160, 179, 179);
  padding: 10px;
}

.courses {
  background-color: rgb(62, 71, 71);
  padding: 10px;
  text-decoration: none;
  color: #c7c7c7;
}

.courses-link {
  color: rgb(254, 169, 245);
  text-decoration: none;
}

.courses-link:hover {
  color: rgb(236, 236, 244);
}

.gh {
  text-decoration: none;
  font-size: 25px;
  font-weight: 600;
  color: rgb(31, 30, 30);
}

.year {
  font-size: 25px;
  font-weight: 600;
  color: rgb(31, 30, 30);
}

.courses-text {
  color: aliceblue;
}

.about-me {
  text-align: center;
}

.summary{
  text-align: center;
}

.number {
  line-height: 0.5;
}

.gh-logo {
  width: 30px;
  height: auto;
}

.gh-text {
  text-decoration: none;
  color: rgb(73, 71, 71);
}

.gh-text:hover {
  color: coral;
}