@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Quicksand:wght@300..700&display=swap');

body {
  background: rgb(30, 29, 30);
  color: aliceblue;
  margin: 0 auto;
  width: 1280px;
  font-family: "Quicksand", sans-serif;
}

.wrapper {
  width: 1280px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  display: flex;
  flex-direction: row;
  background: rgb(87, 32, 83);
  justify-content: space-between;
  padding: 0px 40px;
}

.menu ul{
  display: flex;
  flex-direction: row;
  gap: 40px;
}

.nav-item {
  list-style: none;
}

.nav-item a {
  text-decoration: none;
  color: aliceblue;
}

h1 {
  font-size: 40px;
  font-weight: 900;
}

.my-photo {
  width: 300px;
}

#left-section {
  display: flex;
  flex-direction: column;
  background: rgb(32, 21, 34);
}

.top-section {
  height: 400px;
}

.main {
  display: flex;
  flex-direction: row;
}